* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    width: 100%;
    min-height: 100vh;
}

#nav {
    height: 6vw;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

#nav-part1 {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

#nav img {
    width: 7vw;
}

#nav-part1 h4 {
    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;
}

#nav-part2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button {
    padding: 1.15vw 1.7vw;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    font-size: 1.1vw;
    margin: 0 0.75vw;
    cursor: pointer;
}

#nav-part2 button:nth-child(1) {
    background-color: transparent;
    color: black;
    position: relative;
}

#nav-part2 button:nth-child(1)::after {
    content: ".";
    position: absolute;
    font-size: 2vw;
    top: 7%;
    right: 1%;
}

#page1 #content {
    height: calc(100% - 6vw);
    width: 100%;
    /* background-color: blueviolet; */
    padding-top: 5vw;
}

#content h3 {
    padding: 0.7vw 1.2vw;
    border-radius: 50px;
    width: fit-content;
    background-color: #F2B0EA;
    font-size: 1.3vw;
    font-weight: 100;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#content h1 {
    text-align: center;
    font-family: "source serif 4";
    font-size: 5vw;
    font-weight: 500;
    line-height: 5vw;
    margin: 2vw 0;
}

#content h4 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
}

#content button {
    padding: 1.15vw 1.7vw;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    font-size: 1.1vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2vw 0;
    cursor: pointer;
}

#bottom {
    width: 100%;
    height: 50vh;
    /* background-color: grey; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#bottom::-webkit-scrollbar {
    display: none;
}

.elem {
    display: inline-block;
    margin-right: 1vw;
    border-radius: 2vw;
    width: 18%;
    height: 100%;
    background-color: #F2B0EA;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.elem-bottom{
    position: absolute;
    bottom: 0;
    height: 30%;
    padding: 1vw;
    color: white;

}

.elem-bottom h2{
    font-size: 1.2vw;
}

.elem-bottom .bottom-tags{
    display: flex;
    gap: 0.5vw;
    margin-top: 0.5vw;
}

.bottom-tags h5{
    font-size: 0.8vw;
    padding: 0.4vw;
    border-radius: 10px;
    border: 1px solid white;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* background-color: green; */
    padding: 3vw 5vw;
    position: relative;
}

#page2 h1{
    text-align: center;
    font-weight: 500;
    font-size: 3vw;
    margin-bottom: 2vw;
}

.box{
    width: 30%;
    height: 22vw;
    background-color: #F2B0EA;
    display: inline-block;
    margin: 1.3vw;
    border-radius: 0.7vw;
    overflow: hidden;
    transition: all ease 0.5s;
    position: relative;
    cursor: pointer;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.box-bottom{
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.548));
    position: absolute;
    bottom: -30%;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 1.5vw;
    font-size: 1.5vw;
}

.box-bottom h5{
    width: 72%;
}

.box-bottom i{
    background-color: white;
    color: black;
    padding: 0.6vw;
    border-radius: 50%;
}

.box:hover .box-bottom{
    bottom: 0;
}

.box:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.445);
}

#page2-button{
    text-align: center;
}

#page2-button button{
    padding: 1vw;
    border-radius: 50px;
    font-weight: 600;
    margin: 2vw 0 5vw 0;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

#page3{
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 187, 0, 0.5);
    padding: 5vw;
    text-align: center;
}

#page3 h1{
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#page3 h3{
    font-size: 1.3vw;
    font-weight: 400;
}

#page3-button button{
    padding: 1vw 1.5vw;
    border-radius: 50px;
    border: none; 
    margin: 2vw 0.3vw;
    font-size: 1vw;
    cursor: pointer;
}

#page3-button #first{
    background-color: black;
    color: white;
}

#page3 h3 a{
    color: black;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

footer img {
    width: 9vw;
}

#footer-links{
    display: flex;
    gap: 2vw;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-weight: 600;
}

#footer-links a:hover{
    text-decoration: underline;
}

#footer-logos{
    display: flex;
    gap: 1vw;
}

#footer-logos i{
    font-size: 1.7vw;
    cursor: pointer;
}